body {
    background-color: #E3ECEC;
    padding: 80px 0 0 0;
}

body,
input,
button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    height: 80px;
    width: 99%;
    position: fixed;
    padding: 15px;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: #539885;
    box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
}

header input {
    width: 97%;
    height: 50px;
    float: left;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 0 0 0 30px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px 25px 25px 10px;
    border: 0;
    box-shadow: 0;
    outline: none;
}

::placeholder {
    color: white;
}

header button {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 2;
    border-radius: 25px;
    background-color: #fff;
    border: 0;
    box-shadow: none;
    outline: none;
    cursor: pointer;
}

header button img {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -8px 0 0 -8px;
}

.complete img, .remove img{
    width: 25px;
    height: 25px;
}

.container {
    width: 100%;
    float: left;
    padding: 15px;
}

ul.todo {
    width: 100%;
    float: left;
}

ul.todo li {
    width: 100%;
    height: 50px;
    float: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: #353535;
    line-height: 25px;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 2px rgba(44, 62, 89, 0.10);
    margin: 14px 100px 14px 14px;
    word-break: break-word;
}

ul.todo li:last-of-type {
    margin: 0;
}